{% extends 'base.html' %}

{% block content %}

<div class="card my-card mx-auto">
    <div class="card-header my-card-header">ASHISH KARKI</div>
    <div class="card-body">
        <h5 class="card-title my-card-title">
            Software Enthusiast
        </h5>
        <p class="card-text">
            Experienced Software Developer with seven years’ experience designing and building user friendly and high
            performance full-stack applications.

            <br/>
        <hr/>
        <strong>Location</strong>: Kathmandu valley, Nepal

        <br/>
        <hr/>
        <strong>LinkedIn Profile</strong>: https://www.linkedin.com/in/ashish-karki/
        </p>
    </div>
</div>

{% endblock %}