{% extends 'base.html' %}

{% block content %}

    <div class="add-stock">
        <form class="d-flex"
              action="{% url 'add_stock' %}"
              method="POST">
            {% csrf_token %}
            <input class="form-control me-2"
                   type="search"
                   placeholder="Add Ticker to Portfolio"
                   aria-label="Search"
                   name="ticker">
            <button class="btn btn-outline-success" type="submit">
                Add Stock
            </button>
        </form>

        <div class="ticker-list">
            {% for ticker in all_tickers %}
                <div class="row ticker-list-row">
                    <div class="col-sm-6">
                        {{ ticker }}
                    </div>
                    <div class="col-sm-6">
                        <a href="{% url 'delete' ticker.id %}" class="btn btn-sm btn-danger">
                            Delete Stock
                        </a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

{% endblock %}