{% extends 'base.html' %}

{% block content %}

{% if api_response %}
    {% if api_response == "Error" %}
        There was a problem. Please check your ticker symbol.
    {% else %}
        <h1>{{ api_response.companyName }}</h1> <br>
        Price: {{ api_response.latestPrice }} <br>
        Previous Price: {{ api_response.previousClose }} <br>
        Market Cap: {{ api_response.marketCap }} <br>
        YTD Change: {{ api_response.ytdChange }} <br>
        52 Week High: {{ api_response.week52High }} <br>
        52 Week Low: {{ api_response.week52Low }} <br>
    {% endif %}
{% endif %}

{% endblock %}